@font-face {
	font-family: 'Galarfont_1';
	src: url('Galarfont_1-Regular.ttf');
}

.galar {
	font-family: "Galarfont_1", "Galarfont";
	font-size: 40px;
	margin: 0 auto;
}

html,
header,
body,
a,
ul,
li,
table,
img {
	margin: 0 auto;
	padding: 0;
}



html {
	text-align: center;
	font-family: sans-serif, monospace, 'メイリオ', '游ゴシック';
}

header {
	/*	max-width: 960px;*/
	/*	position: fixed;*/
	top: 0;
	left: 0;
	width: 100vw;
}

header a {
	color: white;
}

body {
	/*	margin-bottom: 50px;*/
}

table {
	margin: 10px;
	text-align: center;
	max-width: 960px;
}

ul {
	font-size: 0;
}

li {
	color: white;
	background-color: #99ccff;
	display: inline-block;
	width: 30%;
	font-size: 20px;
	font-weight: bold;
}

h1 {
	margin-bottom: 8px
}

p {
	padding-bottom: 8px;
}

table {
	margin: 10px auto;
	/*	padding: 5px*/
}

.comment p {
	padding: 0;
	margin: 0;
}

.end {
	margin-bottom: 15px;
}

footer {
	display: block;
	background-color: #99ccff;
	width: 100%;
}

.footer_container {
	display: block;
	position: relative;
	padding: 10px 0px 5px 0px;
	color: white;
	max-width: 925px;
	width: 100%;
	margin: auto;
	margin-top: 15px;
	height: 30px
}

footer .left {
	float: left;
	margin-left: 200px;
}

footer .right {
	float: right;
	margin-right: 160px;
	px
}

.comment {
	margin-top: 15px;
}

<style type="text/css" >

/* ==================ソートボタン====================== */
.tsImgArea {
	line-height: 1;
}

.tsImg {
	display: inline-block;
	width: 8px;
	height: 6px;
	background: #eee;
	border: 1px solid #777;
	margin: 1px 3px;
	padding: 3px;
	cursor: pointer;
}

.tsImg:hover {
	background: #FFD700;
}

.tsImg path {
	fill: #777;
}

/* テーブル全体のスタイル */
#sampleTable {
	width: 90%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 11pt;
}

/* ヘッダーのスタイル */
#sampleTable th {
	text-align: center;
	font-weight: bold;
	padding: 6px 5px;
	border: 1px #666666 solid;
	background: #99ccff;
	white-space: nowrap;
}

/* 明細のスタイル */
#sampleTable td {
	text-align: center;
	padding: 6px 5px;
	border: 1px #666666 solid;
	white-space: nowrap;
}

</style >
