@font-face {
	font-family: 'Galarfont_1';
	src: url('Galarfont_1-Regular.ttf');
}

.galar {
	font-family: "Galarfont_1", "Galarfont";
	font-size: 40px;
	margin: 0 auto;
}

html,
header,
body,
a,
ul,
li,
table,
img {
	margin: 0 auto;
	padding: 0;
}

a {
	color: white;
}

table {
	margin: 10px;
	text-align: center;
	max-width: 960px;
}

html {
	text-align: center;
}

header {
	max-width: 800px;
	/*	position: fixed;*/
	top: 0;
	left: 0;
	width: 100%;
}

body {
	padding-bottom: 50px;
}

ul {
	font-size: 0;
}

li {
	color: white;
	background-color: #99ccff;
	display: inline-block;
	width: 30%;
	font-size: 16px;
}

h1 {
	margin-bottom: 8px
}

p {
	padding-bottom: 8px;
}

table {
	margin: 10px auto;
}

<style type="text/css" >

/* ソートボタンを表示するエリア */
.tsImgArea {
	line-height: 1;
}

.tsImg {
	display: inline-block;
	width: 8px;
	height: 6px;
	background: #eee;
	border: 1px solid #777;
	margin: 1px 3px;
	padding: 3px;
	cursor: pointer;
}

.tsImg:hover {
	background: #FFD700;
}

.tsImg path {
	fill: #777;
}

/* --- （参考）テーブル全体のスタイル指定 ------- */
#sampleTable {
	width: 90%;
	border-collapse: collapse;
	/* 境界線結合 */
	border-spacing: 0;
	/* 罫線間余白 */
	font-size: 11pt;
	/* 文字サイズ */
}

/* --- ヘッダーのスタイル指定 ------------------- */
#sampleTable th {
	text-align: center;
	font-weight: bold;
	padding: 6px 5px;
	border: 1px #666666 solid;
	background: #99ccff;
	white-space: nowrap;
}

/* --- 明細のスタイル指定 ----------------------- */
#sampleTable td {
	text-align: center;
	/* 文字位置   */
	padding: 6px 5px;
	/* 余白       */
	border: 1px #666666 solid;
	/* 罫線       */
	white-space: nowrap;
}

</style >
